@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Rajdhani', sans-serif;
}
.container {
  height: 100%;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms ease-in;
}

.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}